[[source]]
url = "https://artifactory.elering.sise/artifactory/api/pypi/pssepip/simple/"
verify_ssl = false
name = "pip_conf_index_install"

[packages]
pandas = "*"
pypowsybl = "*"
aniso8601 = "*"
lxml = "*"
edx = "*"
opdm-api = "*"
triplets = "*"

[dev-packages]
tabulate = "*"
pyvis = "*"

[requires]
python_version = "3.11"
