[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "2.2.2"
numpy = "2.0.0"
pypowsybl = "1.6.1"
aniso8601 = "*"
lxml = "*"
edx = "*"
opdm-api = "*"
triplets = "*"
ndjson = "*"
elasticsearch = "*"
minio = "*"
pytz = "*"
requests = "*"
pika = "*"
saxonche = "*"
croniter = "*"

[dev-packages]
tabulate = "*"
pyvis = "*"

[requires]
python_version = "3.11"