[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
pypowsybl = "*"
aniso8601 = "*"
lxml = "*"
edx = "*"
opdm-api = "*"
triplets = "*"

[dev-packages]
tabulate = "*"

[requires]
python_version = "3.11"
